@model MvcEasyUI160128.Models.Fonds

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Fonds</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Fonds_Level)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Fonds_Level)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Fonds_Father)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Fonds_Father)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Fonds_Code)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Fonds_Code)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Fonds_Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Fonds_Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Fonds_Order)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Fonds_Order)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Fonds_JGH)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Fonds_JGH)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Fonds_JGMLH)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Fonds_JGMLH)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Fonds_Remark)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Fonds_Remark)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Fonds_ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
