<!DOCTYPE html>
<html>
<head>
	<title>@ViewBag.Title</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="renderer" content="webkit" />
	<meta http-equiv="X-UA-Compatible" content="IE =Edge,chrome =1" />
	@Styles.Render("~/Content/css")
	@RenderSection("css", required: false)
	<style>
		.loginbody {
   background:url(~/Content/Images/index/login.jpg);
   filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
   -moz-background-size:100% 100%;
   background-size:100% 100%;

		}
	</style>
</head>
<body class="loginbody">
	@RenderBody()
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)
</body>
</html>
